@font-face {
    font-family: BakBak One;
    src: url(./../fonts/BakbakOneRegular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

a {
    font-family: BakBak One;
}

header {
    font-size: 16px;
    position: relative;
    background-color: #0B252E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    font-family: BakBak One;
}

.logo {
    margin-left: 5%;
    width: 200px;
    height: 30px;

}

.logo img {
    width: 200px;
    height: 30px;
}

.nav {
    position: absolute;
    display: flex;
    left: 44%;
}

.nav li {
    padding: 7px;
    list-style: none;
    margin: 28px;
    border-radius: 3px;
    cursor: pointer;

}

.nav li a {
    text-decoration: none;
}

.login {
    margin-right: 5%;
    text-decoration: none;
}

/* INICIO MENU DESPLEGABLE */
.desplegable-li {
    position: relative;
}
.desplegable {
    position: absolute;
    background-color: #0B252E;
    display: none;
}

.desplegable-li:hover .desplegable {
    display: flex;
    flex-direction: column;
}
.desplegable li{

}
.desplegable li a{
    
}


/* FIN MENU DESPLEGABLE */

/* INICIO MENU usuario */
.loged {
    margin-right: 5%;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.logoutuno{
    display: none;
}
.loged:hover .logoutuno{
    display: flex;
}
.logoutuno{
    background-color: #0B252E;
}
.logoutdos{
    
}


/* FIN MENU DESPLEGABLE usuario */
