*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user-General{
    margin-top: 50px;
    display: flex;
}
.user-perfil{
    width: 20%;
}
.General-perfil{
    width: 80%;
}
.listas-perfil{
    height: 310px;
}