@font-face {
    font-family: Kum;
    src: url(../fonts/KumbhSans-Regular.ttf);
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.contenedorC{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Kum;
    font-size: 13px;
    color: white;
    background-color: #07181E;

}

.contenidoC{
    
    margin-bottom: 5%;
    width: 130px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #0B252E;
    border-radius: 5px;
    overflow: hidden;
    height: 250px;

}
.contenidoC img{
    width: 130px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tituloC{
    font-family: kum;
    width: 110px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;

}

.linko{
    text-decoration: none;
    color: white;
}