@font-face {
    font-family: BakBak One;
    src: url(../fonts/BakbakOneRegular.ttf);
  }
  @font-face {
    font-family: kum;
    src: url(../fonts/KumbhSans-Regular.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 190px;
    background-color: #0B252E;
    display: grid;
    grid-template:  "logo col1 col2 col3"
                    "logo col1 col2 col3"
                    "copyr copyr copyr copyr"
    
    ;
    grid-template-columns: 35% 35% 15% 25%;

    font-family: BakBak One;
}

.logo{
    grid-area: logo;
}
.logo2>img{
    opacity: 20%;
    margin: 15px;
    width: 300px;
    height: 100px;
}
.col1{
    grid-area: col1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    

}
.col2{
    grid-area: col2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}
.col3{
    grid-area: col3;

}
.copyr{ 
    grid-area: copyr;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom:1%;
}

.copyr a{
    font-family: kum;
    font-size: 12px;
}