*{
    box-sizing: border-box;
}
.cont-imagen {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    background-color: gray;
    margin: 10px;
    
}
.imagenprinci{
    width: 200px;
    height: 300px;
}

.boton {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}


.detalles {
    width: 500px;
    height: 500px;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    padding: 20px;
}

.imagendetalle {
    width: 140px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
