@font-face {
  font-family: Bakbak;
  src: url(../fonts/BakbakOneRegular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.Contenedor-banner-perfil {
  width: 100%;
}

.banner {
  height: 200px;
  background: url('./../Icons/bannerfondo.jpeg');
  position: relative;
  z-index: -1;
}

.Container-avatar img {
  width: 190px;
  margin-top: 90px;
  margin-left: 5%;
}