@font-face {
    font-family: Kum;
    src: url(../../components/fonts/KumbhSans-Regular.ttf);
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.contenedorC{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.contenidoC{
    border-radius: 8px;
    margin: 0 3% 6%;
    padding-bottom: 5px;
    width: 15%;
    background-color: #0B252E;

    /*border: 1px solid red;*/
}
.contenidoC img{
    border-radius: 5px 5px 0 0;
    object-fit: contain;
}

.tituloC{
    font-family: kum;
    text-align: center;
}