
.barra-busqueda {
    border-radius: 5px;
}

.barra-input {
    border: none;
    background-color: #123F4F;
}

.barra-boton {
    background-color: #123F4F;
    color: white;
    border: none;
    cursor: pointer;
}

.barra-boton:hover {
    background-color: #3e4041;
}

.barra-input::placeholder {
    color: azure;
}