@font-face {
    font-family: Kum;
    src: url(../../components/fonts/KumbhSans-Regular.ttf);
  }

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.contenedorC{
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.contenidoC{
    border-radius: 8px;
    margin: 0 3% 6%;
    padding-bottom: 5px;
    width: 15%;
    background-color: #0B252E;

    /*border: 1px solid red;*/
}
.contenidoC img{
    border-radius: 5px 5px 0 0;
    object-fit: contain;
}

.tituloC{
    font-family: kum;
    text-align: center;
}
@media (max-width: 1700px) {
  .contenidoC {
    width: 18%;
  }
  .contenedor {
    height: 330px;
  }
  .activo{
    overflow: none;
    height: 100%;
  }
}
@media (max-width: 1500px) {
  .contenidoC {
    width: 20%;
  }
  .contenedor {
    height: 320px;
  }
  .activo{
    overflow: none;
    height: 100%;
  }
}
@media (max-width: 1350px) {
  .contenidoC {
    width: 24%;
  }
  .contenedor {
    height: 370px;
  }
  .activo{
    overflow: none;
    height: 100%;
  }
}
@media (max-width: 1300px) {
  .contenidoC {
    width: 28%;
  }
  .contenedor {
    height: 370px;
  }
  .activo{
    overflow: none;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .contenidoC {
    width: 33%;
  }
  .contenedor {
    height: 390px;
  }
  .activo{
    overflow: none;
    height: 100%;
  }
  .tipo{
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}