@font-face {
    font-family: BakBak One;
    src: url(./../fonts/BakbakOneRegular.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.input-texto, .check-box, .login-register, .submit-boton, span{
    font-family: BakBak One;
}