@font-face {
    font-family: Bakbak One;
    src: url(../Fuentes/BakbakOneRegular.ttf);
  }
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #0B252E;
    height: 90px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
    font-size: 20px;
}

header a:first-of-type img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

header a:first-of-type{
   width: 70%;
   height: 60%;
}

header a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Bakbak One;
}

header a:nth-of-type(2),a:nth-of-type(3),a:nth-of-type(4){
    padding-bottom: 3%;
}

header a:nth-of-type(2){
    padding-left: 60%;
}

header a:nth-of-type(3){
    padding-right: 60%;
}

header a:nth-of-type(4){
    padding-left: 40%;
}